/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-family: 'Arial';
	line-height: 1;
	padding:10px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
label {
	display:block;
	font-weight:bold;
}
form label {
	margin-bottom:20px;
}
h1 {
	font-size:1.4em;	
}
h2 {
	font-size:1.3em;
	color:blue;
}
.absoluteCenter {
	position: absolute;
	width: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
}
table {
	border-width: 1px;
	border-color: #666;
	border-collapse: collapse;
	width: 100%;
}
table th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666;
	background-color: #efe;
	font-weight:bold;
}
table td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666;
	background-color: #ffffff;
}
table td:last-child {
	width:20px;	
}

table td:last-child button{
	background:none;
	border:none;
	color:blue;
	text-decoration:underline;
}
/* INIT - MODAL WINDOW */
.ng-modal-overlay {
	position:absolute;
	z-index:2;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#000000;
	opacity: 0.8;
}
.ng-modal-dialog {
	z-index:3;
	width: 80%;
	background-color: #fff;
	box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
	text-align: left;
}
.ng-modal-close {
	position: absolute;
	top: 3px;
	right: 5px;
	padding: 5px;
	cursor: pointer;
	font-size: 120%;
	display: inline-block;
	font-weight: bold;
	font-family: 'arial', 'sans-serif';
}
/* END - MODAL WINDOW */

button {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px; 
	border-radius: 3px;
	border:1px solid #eee;
	padding:10px; 
}
button.red {
	color:#fff;
	background:red;
}
.container {
	background: #eee;
	padding:10px;
	margin:20px 10px;
}
.container h1, .container button {
	display:inline-block;
}
.container button {
	float:right;
}
.container table {
	margin-top:20px;
}
.ng-modal h2 {
	padding:10px 20px;
	width:100%;
	border-bottom:1px solid #000;
}
.ng-modal-dialog-content form {
	margin:20px;
}

.ng-modal-dialog-content form + div {
	margin:20px;
}
form {
	overflow:hidden;
}
form .inputContainer {
	position:relative;
	margin:0 auto;
}
form .inputContainer label,
form .inputContainer input {
	display:inline-block;
}
form .inputContainer label {
	float:left;
	text-align:right;
	margin-right:20px;
}
.editContainer .formActions {
	overflow:hidden;
}
.editContainer .formActions button{
	float:right;
}
.editContainer .formActions button:first-child{
	float:left;
}
input[type="text"],
input[type="email"] {
	border-radius:4px;
	padding:10px;
	border:1px solid #b0b0b0;
}
.inputContainer {
	margin-bottom:13px !important;
}
.inputContainer > label {
	width:20%;
	text-align:left;
}
.inputContainer input {
	width:70%;
	text-align:left;
}

/* Providers input */
form .inputContainer > div {
	float:left;
	width:55%;
}
form .inputContainer div input {
	width:86%;
}
form .inputContainer button {
	width:21%;
}

form .inputContainer div ul{
	margin-top:10px;
	height:50px;
	overflow-y:scroll;
}
/* Providers input */

/* CHECKBOX STYLING*/

.regular-checkbox {
	display: none;
	position:absolute;
	top:0;
	z-index: 2;
	left:0;
	width:50px !important;
}

.regular-checkbox + label {
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}

.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked + label {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.regular-checkbox:checked + label:after {
	content: '\2714';
	font-size: 18px;
	position: absolute;
	top: 0px;
	font-weight:100;
	left: 3px;
	color: #000;
}

.tag {
	padding:0 20px;
	width: 200px;
	position: absolute;
	top: 2px;
	left:20px;
	height:20px;
	background:#fff;
	text-transform: uppercase;
	display: block;
	float: left;
	z-index:3;
}
form .inputContainer ul li{
	display:block !important;
	overflow:hidden;
	margin-bottom:5px;
	position:relative;
}

form .inputContainer ul li label {
	margin:0 !important;
}


/* CHECKBOX STYLING*/
