/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-family: 'Arial';
	line-height: 1;
	padding:10px;
	color:#515153;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
label {
	display:block;
	font-weight:bold;
}
form label {
	margin-bottom:20px;
}
h1 {
	font-size:1.4em;	
}
h2 {
	font-size:1.14em;
	color:#43829B;
}
.icon {
	width: .8em;
}

.absoluteCenter {
	position: absolute;
	width: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
}
table {
	border: 1px solid  #C9C9C9;
	border-collapse: collapse;
	width: 100%;
	font-size:.8em;
}
table th {
	border: 2px solid #C9C9C9;
	padding: 8px 1px 8px 17px;
	font-weight:bold;
	text-align:left;
	font-size:.9em;
}
table th, button {
	background: #fbfbfb; /* Old browsers */
	background: -moz-linear-gradient(top,  #fbfbfb 20%, #eeeeee 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #fbfbfb 20%,#eeeeee 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #fbfbfb 20%,#eeeeee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}
table td {
	color:#787878;
	border: 1px solid #C9C9C9;
	padding: 1px 17px 0 17px;
	background: #fff;
}

table td:last-child {
	text-align:center;
}

table td:last-child button {
	background:none;
	border:none;
	font-size:1em;
	color:#43829B;
	text-decoration:underline;
}
table td:last-child button:active {
	border:none;
} 
input, button, table td {
	text-shadow:.1px .1px .1px #787878;
}
/* INIT - MODAL WINDOW */

.ng-modal-dialog {
	max-width:560px;
	background:#F0F5F9;
	z-index:3;
	width: 80%;
	background: #fff;
	border:2px solid #E2E2E2;
	border-radius:4px;
}
.ng-modal-dialog-content form input,
.ng-modal-dialog-content ul {
	border-color:#d5d5d5 !important;
}
.ng-modal-dialog-content {
	text-align: left;
}
.ng-modal-dialog h2 {
	padding:15px 20px;
	font-weight:bold;
	border-bottom:1px solid #e0e0e0;
}
.ng-modal-dialog-content form input.ng-invalid {
	border-color:#e74241 !important;
}
/* END - MODAL WINDOW */

button {
	font-size: .72em;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 5px;
	padding: 8.5px 15px;
	color:#787878;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	box-sizing: border-box;
	border:1px solid #e0e0e0;
	background: #f3f3f3; /* Old browsers */
	background: -moz-linear-gradient(top,  #f3f3f3 0%, #e2e2e2 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #f3f3f3 0%,#e2e2e2 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #f3f3f3 20%,#e2e2e2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}
button:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}
button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
button:hover {
    border:1px solid #c0c0c0;
}
button.red {
	color:#fff;
	background: #e74241; /* Old browsers */
	background: -moz-linear-gradient(top,  #e74241 0%, #ad070f 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #e74241 0%,#ad070f 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #e74241 0%,#ad070f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e74241', endColorstr='#ad070f',GradientType=0 ); /* IE6-9 */

}
.container {
	background: #F0F5F9;
	margin:20px 10px;
}
.container h2 {
	display:inline-block;
	margin: 18px 15px 0 15px;
}
.container > button {
	margin: 8px 15px 11px 0;
	float:right;
}
.container table {
	margin-top: 5px;
}
.ng-modal-dialog-content form {
	margin: 21px;
}

.ng-modal-dialog-content form + div {
	margin:20px;
}
form {
	overflow:hidden;
}
form .inputContainer {
	position:relative;
	margin: 0 auto;
}
form .inputContainer label,
form .inputContainer input {
	display:inline-block;
}
form .inputContainer label {
	font-size: .72em;
	float:left;
	font-weight: bold;
	text-align:right;
	color:#000;
	margin: 10px 12px 0 0;
}
.editContainer .formActions {
	overflow:hidden;
}
.editContainer .formActions button{
	float:right;
	margin-left:10px;
}
.editContainer .formActions button:first-child{
	float:left;
	margin-left:0px;
}
input[type="text"],
input[type="email"] {
	color:#787878;
	border-radius:4px;
	padding: 7px 9px;
	border:1px solid #b0b0b0;
	font-size:.78em !important;
}
.inputContainer {
	margin-bottom: 11px !important;
}
.inputContainer > label {
	width: 20%;
	text-align:left;
}
.inputContainer input {
	width: 60%;
	text-align:left;
}

/* Providers input */
form .inputContainer > div {
	float:left;
}
form .inputContainer div input {
	width: 100%;
}
form .inputContainer button {
	/*! width: 29%; */
}

form .inputContainer div ul{
	box-sizing:border-box;
	margin-top: 8px;
	padding: 7px 2px 0 20px;
	max-height:250px;
	border:1px solid #b0b0b0;
	border-radius:4px;
}
/* Providers input */

/* CHECKBOX STYLING*/

.regular-checkbox {
	display: none;
	position:absolute;
	top:0;
	z-index: 2;
	left:0;
	width:50px !important;
}

.regular-checkbox + label {
	background: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 7px;
	border-radius: 4px;
	display: inline-block;
	position: relative;
}

.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked + label {
	background: #fff;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.regular-checkbox:checked + label:after {
	content: '\2714';
	font-size: 25px;
	position: absolute;
	font-family: monospace;
	top: -7px;
	font-weight:100;
	left: 0px;
	color: #4A4A4C;
}

.tag {
	padding: 0 0 0 11px;
	/* width: 200px !important; */
	position: absolute;
	top: 3px;
	left: 20px;
	font-size: .78em;
	height:20px;
	font-weight: bold;
	background:#fff;
	display: block;
	float: left;
	z-index:3;
}
form .inputContainer ul li{
	display:block !important;
	overflow:hidden;
	margin-bottom:5px;
	position:relative;
}

form .inputContainer ul li label {
	margin:0 !important;
}


form .inputContainer div {
	display:inline-block;
	width: 38%;
}
form .inputContainer div input,
form .inputContainer div ul {
	width:100%;
}
form .inputContainer.clientProviders input {
	box-sizing:border-box;
}

form .inputContainer.clientProviders div:last-child {
	width: 25%;
	margin-left: 10px;
}
form .inputContainer div button {
	/*! width: 100%; */
}

/* CHECKBOX STYLING*/
form .inputContainer div.checkboxContainer {
	display:inline-block;
	/* width: 100%; */
}
form .inputContainer div.checkboxContainer .tag {
	margin:0;
	width: auto;
}
form .inputContainer ul li a {
	display:inline-block;
	position: absolute;
	top: 1px !important;
	right: 11px;
	z-index: 3;
}
form .inputContainer ul li a:last-child{
	right: 35px;
}
form .inputContainer.clientProviders ul div {
}
.editContainer form{
	margin: 14px 54px;
}
/* Firefox settings*/
@-moz-document url-prefix() { 
  input[type="checkbox"] {
     top:2px;
  }
}