<h2>{{ ( vm.client.id ) ? 'Edit' : 'New' }} Client</h2>

<form novalidate>
	<label>Name:
	<input type="text" ng-model="vm.client.name" />
	</label>
	<label>Email:
	<input type="email" ng-model="vm.client.email" />
	</label>
	<label>Phone:
	<input type="phone" ng-model="vm.client.phone" />
	</label>
</form>

<div class="formActions">
	<button ng-if="vm.client.id" ng-click="vm.deleteClient()" class="red">Delete client</button>
	<button ng-click="vm.toggleModal()">Cancel</button>
	<button ng-click="vm.saveClient()">{{ ( vm.client.id ) ? 'Save ' : 'Add' }} Client </button>
</div>


