<h2>{{ ( vm.client.id ) ? 'Edit' : 'New' }} Client</h2>

<div class="editContainer">
	<form novalidate>
		<div class="inputContainer">
			<label>Name:</label>
			<input type="text" ng-model="vm.client.name" />
		</div>
		<div class="inputContainer">
			<label>Email:</label>
			<input type="email" ng-model="vm.client.email" />
		</div>
		<div class="inputContainer">
			<label>Phone:</label>
			<input type="text" ng-model="vm.client.phone" />
		</div>
		<div class="inputContainer" ng-controller="ProviderCtrl">
			<label>Providers:</label>
			<div>
				<input type="text" ng-model="newProvider.name" /> 
				
				<ul class="clientProviders">
					<li ng-repeat="(key, value) in providers">
						<div>
							<input type="checkbox"
									ng-checked="vm.isClientProvider( value.id)"
									ng-click="vm.toggleProvider( value.id )"
									class="regular-checkbox" />
							<label for="checkbox-1-1"></label>
							<div class="tag">{{value.name}}</div>
						</div>
						<a class="icon edit"></a>
						<a class="icon delete"></a>
					</li>
				</ul>
			</div>
			<button ng-click="addProvider()">Add provider</button>
		</div>
		</label>
	</form>

	<div class="formActions">
		<button ng-if="vm.client.id" ng-click="vm.deleteClient()" class="red">Delete client</button>
		<button ng-click="vm.saveClient()">{{ ( vm.client.id ) ? 'Save ' : 'Add' }} Client </button>
		<button ng-click="vm.toggleModal()">Cancel</button>
	</div>
</div>