<div ng-controller="ClientCtrl as vm">
	
	<h1> List of clients </h1>
	<div class="container">
		<h2> Clients </h2>
		<button ng-click="vm.editClient()">New client</button>

		<table>
		<tr>
			<th> Name </th>
			<th> Email </th>
			<th> Phone </th>
			<th> Providers </th>
		</tr>
		<tr ng-repeat="c in vm.clients">
			<td> {{ c.name }} </td>
			<td> {{ c.email }} </td>
			<td> {{ c.phone }} </td>
			<td> <span ng-repeat="p in c.providers">{{ p.name }}</span></td>
			<td> <button ng-click="vm.editClient( c )"> Edit </button> </td>
		</tr>
		</table>
	</div>

	<modal-window show='vm.modalShown' title="vm.modalTitle">
		<div ng-include="vm.modalContent">
	</modal-window>
</div>