<div ng-controller="ClientCtrl as vm">
	
	<h1> List of clients </h1>
	<div class="container">
		<h1> Clients </h1>
		<button ng-click="vm.addClient()">New client</button>

		<table>
		<tr>
			<th> Name </th>
			<th> Email </th>
			<th> Phone </th>
			<th> Providers </th>
		</tr>
		<tr ng-repeat="c in vm.clients">
			<td> {{ c.name }} </td>
			<td> {{ c.email }} </td>
			<td> {{ c.phone }} </td>
			<td> {{ c.phone }} </td>
			<td> <a href="clients/{{ c.id }}"> Edit </a></td>
		</tr>
		</table>
	</div>
</div>