<div ng-controller="ClientCtrl as vm">
	<div class="container">
		<h2> Clients </h2>
		<button ng-click="vm.editClient()">New client</button>

		<table>
		<tr>
			<th> Name </th>
			<th> Email </th>
			<th> Phone </th>
			<th> Providers </th>
			<th></th>
		</tr>
		<tr ng-repeat="c in vm.clients | orderBy:'name' track by c.id">
			<td> {{ c.name }} </td>
			<td> {{ c.email }} </td>
			<td> {{ c.phone }} </td>
			<td> 
				<span ng-repeat="p in c.providers | orderBy:'name' track by p.id">
					{{ p.name.concat($last ? "" : ",") }}
				</span>
			</td>
			<td> <button ng-click="vm.editClient( $index )"> Edit </button> </td>
		</tr>
		</table>
	</div>

	<modal-window show='vm.modalShown' title="vm.modalTitle">
		<div ng-include="vm.modalContent">
	</modal-window>
</div>